:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

header.header,
footer.footer {
    width: 280px;
    height: 100%;
    overflow: hidden;
    padding: 0.5rem;
    box-sizing: border-box;
    flex-shrink: 0;
}

header.header img.logo {
    border-radius: 100%;
    width: 140px;
    height: 140px;
}

header.header .title {
    font-size: 18pt;
    font-weight: bold;
}

header.header .form-check {
    text-align: right;
}

header.header .form-check input {
    float: none;
}

main.main {
    flex-grow: 1;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
}

main.main article.note {
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0.5rem;
    flex-grow: 1;
}

main.main article.note-single {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

main.main article.note-left, main.main article.note-right {
    width: 45%;
}

.note .note-close {
    position: absolute;
    left: 10px;
    bottom: 0;
    font-size: 24px;
}

section.contact span.logo-wrapper {
    border-radius: 5px;
    line-height: 1rem;
}

section.contact span.logo-wrapper img {
    width: 1rem;
    height: 1rem;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.note.active {
    box-shadow: 0 0 0.25rem #7574C2;
    will-change: filter;
}